<div class="flashcard">
    <%= link_to flashcard.question, flashcard_path(flashcard) %>
    <div class="flashcard__actions">
        <%= button_to "Delete", flashcard_path(flashcard), method: :delete, class: "btn btn--light" %>
        <%= link_to "Edit", edit_flashcard_path(flashcard), class: "btn btn--light" %>
    </div>
</div>

<% if current_page?(flashcard_path(flashcard)) %>
    <%= form_tag("/flashcards/#{flashcard.id}/search", method: :get) do %>
        <%= label_tag :guess %>
        <%= text_field_tag :guess %>
        <%= submit_tag('Submit', class: "btn btn--secondary" ) %>
    <% end %>

    <div class='container' data-controller="toggle">
        <div class='flashcard__btn'>
            <span data-action="click->toggle#toggle" class="btn btn--secondary" id='reveal-btn'>Reveal</span>
        </div>
        <div data-toggle-target="answer" id='answer' hidden>
            <p class="flashcard__answer"><%= flashcard.answer %></p>
        </div>
    </div>
<% end %>