<%= form_with(model: @flashcard, local: true, class: "form") do |form| %>
    <div class="field">
        <%= form.label :question %>
        <%= form.text_field :question %>
    </div>

    <div class="field">
        <%= form.label :answer %>
        <%= form.text_field :answer %>
    </div>
    <div class="actions">
        <%= form.submit "Submit", class: "btn btn--secondary" %>
    </div>
<% end %>
