i<!DOCTYPE html>
<html>
  <head>
    <title>TestYourself</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='container'>
      <div class='header'>

        <h1>Flashcards</h1>
        <%= link_to 'Quiz me!', random_flashcards_path, class: "btn btn--primary"  %>
        <% if @flashcard %>
          <%= link_to sanitize("&larr; Back to flashcards"), root_path %>
        <% else %>
          <%= link_to "New flashcard", new_flashcard_path, class: "btn btn--primary" %>
        <% end %>
      </div>
    </header>

    <div class="flash-container">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <main class='container'>

      <%= yield %>

      <dialog class='ksearch' data-controller="dialog" data-action="keydown.meta+k@window->dialog#open">
        <%# <form method="dialog", class='ksearch__actions'>
          <button class="btn btn--dark">Close</button>
        </form> %>
        
        <%= form_with url: search_path, method: :get, data: { controller: "autosubmit", autosubmit_delay_value: 300, turbo_frame: :search } do |f| %>
          <%= f.search_field :query, autofocus: true, data: { action: "autosubmit#submit" } %>
        <% end %>

        <%= turbo_frame_tag :search, loading: :lazy, src: search_path %>
      </dialog>
    </main>

  </body>
</html>
